## Metodos:
Para poder concetarnos a postgre podemos crear un agente de langchain o podemos usar el archivo base de prem sql y modificaro para que fcunione con MCP
Donde MCP es Model Context Protocol que da read-only-acces a una base de datso de postgre esto se utiliza para que los LLMs puedan acceder a ella:
mas documentacion en: https://github.com/modelcontextprotocol/servers/tree/main/src/postgres

In [5]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
import pandas as pd
engine = create_engine('postgresql://admin:gnusolidario@localhost:5432/ghdemo44')

with Session(engine) as session:
            # Call the stored procedure that creates a temp table
            session.execute(text("CALL public.sp_executesql(:sql)"), {"sql": "SELECT * FROM party_party"})
            session.commit()
            # Now select from the temp table created
            df = pd.read_sql("SELECT * FROM sp_executesql", session.bind)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "sp_executesql" does not exist
LINE 1: SELECT * FROM sp_executesql
                      ^

[SQL: SELECT * FROM sp_executesql]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [3]:
import pg8000
import time
from urllib.parse import urlparse
from premsql.executors.base import BaseExecutor

class PostgreSQLExecutor(BaseExecutor):
    def parse_dsn(self, dsn: str):
        parsed = urlparse(dsn)
        return {
            "user": "admin",
            "password": "gnusolidario",
            "host": "localhost",
            "port": parsed.port or 5432,
            "database": "ghdemo44"
        }

    def execute_sql(self, sql: str, dsn_or_db_path: str) -> dict:
        conn_params = self.parse_dsn(dsn_or_db_path)
        result, error = None, None
        start_time = time.time()
        
        try:
            conn = pg8000.connect(**conn_params)
            cursor = conn.cursor()
            cursor.execute(sql)
            try:
                result = cursor.fetchall()
                column_names = [desc[0] for desc in cursor.description]
            except pg8000.dbapi.ProgrammingError:
                # If no results to fetch (e.g., for INSERT)
                result = None
                column_names = None
            conn.commit()
        except Exception as e:
            error = str(e)
        finally:
            if 'cursor' in locals():
                cursor.close()
            if 'conn' in locals():
                conn.close()
            end_time = time.time()

        return {
            "result": result,
            "columns": column_names,
            "error": error,
            "execution_time": end_time - start_time,
        }

/Users/diegocarcamo/Documents/Proyecto_GNUHealth/venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2025-05-14 16:39:09,518 - [UTILS] - WARNING - Unable to use transformers. Install using: pip install transformers

In [ ]:
import pg8000

# Establish connection
conn = pg8000.connect(
    user="admin",
    password="gnusolidario",
    host="localhost",      # or 'db' if you're inside another Docker container
    port=5432,
    database="ghdemo44"
)

# Create a cursor to execute SQL
cursor = conn.cursor()
try:
   cursor.execute("SELECT gnuhealth_pathology.name FROM gnuhealth_pathology WHERE gnuhealth_pathology.name ILIKE '%dengue%';")
   tables = cursor.fetchall()

except  Exception as e:
    print(f"An error occurred: {str(e)}")
    tables = [] 
print("Tables in ghdemo44:")
for table in tables:
    print(table[0])

# Clean up
cursor.close()
conn.close()

Tables in ghdemo44:
Dengue fever [classical dengue]
Dengue haemorrhagic fever
Dengue
Dengue without warning signs
Dengue with warning signs
Severe Dengue
Dengue, unspecified

In [26]:
from langchain.utilities import SQLDatabase
import pandas as pd

# Configura la base de datos
db_uri = "postgresql+pg8000://admin:gnusolidario@localhost:5432/ghdemo44"
db = SQLDatabase.from_uri("postgresql+pg8000://admin:gnusolidario@localhost:5432/ghdemo44")

# Abre una conexión limpia a través del engine
with db._engine.connect() as conn:
    df = pd.read_sql(
        "SELECT * FROM gnuhealth_pathology WHERE name ILIKE '%dengue%' LIMIT 10;",
        conn  # ✅ usar `conn`, no `engine` directamente
    )

print(df)

      id                create_date                 write_date  create_uid  \
0    425 2013-09-30 00:05:29.785733 2022-12-22 11:30:31.132051           0
1    426 2013-09-30 00:05:29.800975 2022-12-22 11:30:31.132051           0
2  14189 2016-12-11 19:35:15.150886 2022-12-22 11:30:31.132051           0
3  14190 2016-12-11 19:35:15.150886 2022-12-22 11:30:31.132051           0
4  14191 2016-12-11 19:35:15.150886 2022-12-22 11:30:31.132051           0
5  14192 2016-12-11 19:35:15.150886 2022-12-22 11:30:31.132051           0
6  14193 2016-12-11 19:35:15.150886 2022-12-22 11:30:31.132051           0

   write_uid  category   code                             name  info protein  \
0          0        32    A90  Dengue fever [classical dengue]  None    None
1          0        32    A91        Dengue haemorrhagic fever  None    None
2          0        32    A97                           Dengue  None    None
3          0        32  A97.0     Dengue without warning signs  None    None
4          0        32  A97.1        Dengue with warning signs  None    None
5          0        32  A97.2                    Severe Dengue  None    None
6          0        32  A97.9              Dengue, unspecified  None    None

   gene chromosome  active   uri
0  None       None    True  None
1  None       None    True  None
2  None       None    True  None
3  None       None    True  None
4  None       None    True  None
5  None       None    True  None
6  None       None    True  None

# Execution decoding

In [7]:
from premsql.executors import SQLiteExecutor
from premsql.generators.ollama_model import Text2SQLGeneratorOllama
from premsql.agents import BaseLineAgent
from premsql.agents.tools import SimpleMatplotlibTool
from text2sql_google_model import Text2SQLGeneratorOpenAI
from premsql.executors import ExecutorUsingLangChain
executor = ExecutorUsingLangChain()

from premsql.generators import Text2SQLGeneratorOllama

db_connection_uri ="postgresql://admin:gnusolidario@localhost:5432/ghdemo44"
generator = Text2SQLGeneratorOllama(
    model_name="anindya/prem1b-sql-ollama-fp116",
    experiment_name="testing_ollama",
    type="test", 
)

analyser_plotter = Text2SQLGeneratorOpenAI(
    model_name="gemini-2.5-flash-preview-05-20",
    experiment_name="testing_ollama",
    type="test",
    openai_api_key="AIzaSyBcVCjbLebxXUDvO-QxPa7unFsaxg9nEyo"
)


agent = BaseLineAgent(
    session_name="TEST",
    db_connection_uri=db_connection_uri,
    specialized_model1=generator,
    specialized_model2=analyser_plotter,
    executor=executor,
    plot_tool=SimpleMatplotlibTool()

)


# Create an SQLExecutor instance

2025-05-30 10:41:26,424 - [GENERATOR] - INFO - Experiment folder found in: /Users/diegocarcamo/Library/Caches/premsql/experiments/test/testing_ollama
2025-05-30 10:41:26,446 - [GENERATOR] - INFO - Experiment folder found in: /Users/diegocarcamo/Library/Caches/premsql/experiments/test/testing_ollama
2025-05-30 10:41:26,457 - [PIPELINE-MEMORY] - INFO - /Users/diegocarcamo/Documents/Proyecto_GNUHealth/Notebooks/premsql/premsql_pipeline_memory.db

In [9]:
response_1 = agent("/query select top 50 results from the table  gnuhealth_activity_and_participation_category  ")
print("*"*20)
print(response_1.sql_string)
print("*"*20)

response_1.show_output_dataframe()

2025-05-30 10:43:25,742 - [BASELINE-ROUTER] - INFO - Routing to: query
/Users/diegocarcamo/Documents/Proyecto_GNUHealth/venv/lib/python3.11/site-packages/langchain_community/utilities/sql_database.py:338: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "account_move, account_move_line, account_move_reconciliation, calendar_calendar, company_company, company_employee, gnuhealth_birth_certificate, gnuhealth_death_certificate, gnuhealth_healthprofessional, gnuhealth_hp_specialty, gnuhealth_institution, gnuhealth_institution_specialties, gnuhealth_operation, gnuhealth_preoperative_assessment, gnuhealth_surgery, party_address, party_party, res_user, stock_location", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
/Users/diegocarcamo/Documents/Proyecto_GNUHealth/venv/lib/python3.11/site-packages/langchain_community/utilities/sql_database.py:350: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "account_move, account_move_line, account_move_reconciliation, calendar_calendar, company_company, company_employee, gnuhealth_birth_certificate, gnuhealth_death_certificate, gnuhealth_healthprofessional, gnuhealth_hp_specialty, gnuhealth_institution, gnuhealth_institution_specialties, gnuhealth_operation, gnuhealth_preoperative_assessment, gnuhealth_surgery, party_address, party_party, res_user, stock_location", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables
2025-05-30 10:43:42,668 - [PIPELINE-MEMORY] - WARNING - Failed to serialize object to JSON: {'columns': ['id', 'create_uid', 'code', 'create_date', 'name', 'write_uid', 'write_date'], 'data': {'id': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9}, 'create_uid': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0}, 'code': {0: 'd1', 1: 'd2', 2: 'd3', 3: 'd4', 4: 'd5', 5: 'd6', 6: 'd7', 7: 'd8', 8: 'd9'}, 'create_date': {0: Timestamp('2016-01-24 16:42:33.842899'), 1: Timestamp('2016-01-24 16:42:33.842899'), 2: Timestamp('2016-01-24 16:42:33.842899'), 3: Timestamp('2016-01-24 16:42:33.842899'), 4: Timestamp('2016-01-24 16:42:33.842899'), 5: Timestamp('2016-01-24 16:42:33.842899'), 6: Timestamp('2016-01-24 16:42:33.842899'), 7: Timestamp('2016-01-24 16:42:33.842899'), 8: Timestamp('2016-01-24 16:42:33.842899')}, 'name': {0: 'LEARNING AND APPLYING KNOWLEDGE', 1: 'GENERAL TASKS AND DEMANDS', 2: 'COMMUNICATION', 3: 'MOBILITY', 4: 'SELF CARE', 5: 'DOMESTIC LIFE', 6: 'INTERPERSONAL INTERACTIONS AND RELATIONSHIPS', 7: 'MAJOR LIFE AREAS', 8: 'COMMUNITY, SOCIAL AND CIVIC LIFE'}, 'write_uid': {0: None, 1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None}, 'write_date': {0: None, 1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None}}}
2025-05-30 10:43:42,675 - [PIPELINE-MEMORY] - INFO - Pushed to the database

********************
SELECT * FROM gnuhealth_activity_and_participation_category LIMIT 50;
********************

,id,create_uid,code,create_date,name,write_uid,write_date
0,1,0,d1,2016-01-24 16:42:33.842899,LEARNING AND APPLYING KNOWLEDGE,None,None
1,2,0,d2,2016-01-24 16:42:33.842899,GENERAL TASKS AND DEMANDS,None,None
2,3,0,d3,2016-01-24 16:42:33.842899,COMMUNICATION,None,None
3,4,0,d4,2016-01-24 16:42:33.842899,MOBILITY,None,None
4,5,0,d5,2016-01-24 16:42:33.842899,SELF CARE,None,None
5,6,0,d6,2016-01-24 16:42:33.842899,DOMESTIC LIFE,None,None
6,7,0,d7,2016-01-24 16:42:33.842899,INTERPERSONAL INTERACTIONS AND RELATIONSHIPS,None,None
7,8,0,d8,2016-01-24 16:42:33.842899,MAJOR LIFE AREAS,None,None
8,9,0,d9,2016-01-24 16:42:33.842899,"COMMUNITY, SOCIAL AND CIVIC LIFE",None,None

In [41]:
response = agent(f"/analyse over all how many schools are active?")
print("*"*20)
print(response.analysis)
print("*"*20)

2025-05-29 15:03:43,382 - [BASELINE-ROUTER] - INFO - Routing to: analyse
2025-05-29 15:03:43,407 - [BASELINE-ANALYSER-WORKER] - INFO - Truncating table, you can also choose chunk wise analysis, but it takes more time.
2025-05-29 15:03:45,395 - [BASELINE-ANALYSER-WORKER] - INFO - {'analysis': 'Analysis: There are 10 active schools.', 'analysis_reasoning': "Reasoning: By filtering the 'StatusType' column for 'Active' entries, the following schools are identified as active: Envision Academy for Arts & Technology, Community School for Creative Education, Yu Ming Charter, Urban Montessori Charter, Alameda County Juvenile Hall/Court, Alameda County Community, Oakland Unity Middle, Cox Academy, and Lazear Charter Academy, plus the initial entry where 'School' is 'None' but 'StatusType' is 'Active'."}
2025-05-29 15:03:45,396 - [BASELINE-ANALYSER-WORKER] - INFO - ------------
2025-05-29 15:03:45,396 - [BASELINE-ANALYSER-WORKER] - INFO - None
2025-05-29 15:03:45,411 - [PIPELINE-MEMORY] - INFO - Pushed to the database

********************
Analysis: There are 10 active schools.
********************

In [ ]:
print(response.ke)

[]

# Agent Server Implementation:

In [12]:
import requests

url = "http://localhost:8263/api/v1/chat/models"

headers = {"Authorization": "Bearer <token>"}

response = requests.request("GET", url, headers=headers)

print(response.text)

{"detail":"Not Found"}